# Folders
checkpoints/
runs/
venv/
__pycache__/
.idea/
.vscode/
data/
trained_models/

# Checkpoint files
*.pt
*.pth

# Cache files
*.pyc
.DS_Store

# Environment
.env
.venv
env/
ENV/

# Logs
*.log
tensorboard/

# Distribution
dist/
build/
*.egg-info/
